<div class="row">
    <div class="col-sm-12" data-turbolinks="true">
        {% if shopping.pricing_model %}
            {{ Widget.run('Order.'~(shopping.pricing_model.widget)~'Widget', {}, shopping) | raw }}
        {% endif %}

        {% if shopping.pricing_model.widget != 'request' and shopping.pricing_model.widget != 'announcement' %}
            {% if auth_check() %}
                <button class="btn btn-default mt-3 btn-block InboxDirectMessage" data-url="{{ route('inbox.create', {'user_id': shopping.user_id, 'direct':true}) }}">
                    <i class="mdi mdi-share mr-1"></i> {{ __("Send message") }}
                </button>
            {% else %}
                <a href="{{ route('login') }}" class="btn btn-secondary mt-3 btn-block pop" data-width="300"><i class="mdi mdi-share mr-1"></i> {{ __("Send message") }}
                </a>
                <div class="webui-popover-content">
                    <p class="h6">{{ __('Want to contact the seller?') }}</p>
                    <p>{{ __('Sign in to send a message.') }}</p>
                    <hr />
                    <a href="{{ route('login') }}" class="btn btn-link text-danger font-weight-bold text-uppercase pl-0">{{ __("Sign in") }}</a>
                </div>
            {% endif %}
        {% endif %}

        {% include 'shopping.partials.favorite' %}

        {% if has_map %}
            <div class="row mt-4">
                <div class="col-sm-12">
                    <h6>{{ __('Map view') }}
                        <a href="https://www.google.com/maps/?q={{ shopping.lat }},{{ shopping.lng }}" target="_blank" class="small float-right"><i class="mdi mdi-magnify-plus-outline"></i>{{ __("View in fullscreen") }}
                        </a></h6>

                    <div style="width: 100%; height: 12em;">
                        {{ Mapper.render() | raw }}
                    </div>

                </div>
            </div>
        {% endif %}

        <div class="row mt-3">
            <div class="col-md-12">
                <br>
                <h6>{{ __('Share this') }}</h6>


                <a href="https://www.facebook.com/sharer/sharer.php?u={{ url_current() }}" class="text-center" style="float: left; border: 0px solid #eee; border-radius: 15px; width: 20px; height: 20px; line-height: 20px;     display: block;">
                    <img src="../../../public/images/social/facebook.png" class="img-fluid"/>
                </a>

                <a href="https://twitter.com/intent/tweet?text={{ shopping.title }}&amp;url={{ url_current() }}" class="text-center ml-2" style="float: left; border: 0px solid #eee; border-radius: 15px; width: 20px; height: 20px; line-height: 20px;     display: block;">
                    <img src="../../../public/images/social/twitter.png" class="img-fluid"/>
                </a>

                <a href="https://plus.google.com/share?url={{ url_current() }}" class="text-center ml-2" style="float: left; border: 0px solid #eee; border-radius: 15px; width: 20px; height: 20px; line-height: 20px;     display: block;">
                    <img src="../../../public/images/social/google-plus.png" class="img-fluid"/>
                </a>
                <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{ url_current() }}&amp;title={{ shopping.title }}&amp;summary={{ shopping.user.display_name }}" class="text-center ml-2" style="float: left; border: 0px solid #eee; border-radius: 15px; width: 20px; height: 20px; line-height: 20px;     display: block;">
                    <img src="../../../public/images/social/linkedin.png" class="img-fluid"/>
                </a>


            </div>
        </div>

        {% if shopping.pricing_model.widget != 'request' and shopping.pricing_model.widget != 'announcement' %}
        <div class="row mt-4">
            <div class="col-md-12">
                <div class="card ">
                    <div class="card-body">
                        <div class="row ">
                            <div class="col-sm-12">

                                <div class="row ">
                                    <div class="col-sm-4">

                                        <a href="">
                                            <img src="{{ shopping.user.avatar }}" style="width: 75px" class="img-fluid rounded-circle"/>
                                        </a>
                                        <br/>
                                        <br/>
                                    </div>
                                    <div class="col-sm-8">
                                        <h3 class="mb-0 h6 truncate">
                                            <a href="{{ shopping.user.url }}"><strong>{{ shopping.user.display_name }}</strong></a>
                                        </h3>


                                        <p class="mt-0 mb-0">{{ shopping.user.city }}, {{ shopping.user.country }}</p>
                                        {{ include('components.star_rating', {rating: shopping.user.avg_rating()}) }}
                                        <p class="mt-0 mb-0">{{ shopping.user.shoppings.count() }} {{ __("Items") }}</p>
                                    </div>


                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
        {% endif %}

        {% if module_enabled('moderateshoppings') %}
            <a href="{{ route('shopping.report', [shopping]) }}" class="small">{{ __('Report shopping') }}</a>
        {% endif %}



    </div>
</div>
