{% extends "layouts.app_aboutus" %}

{% block content %}

<section class="about-us__reads">

    <img src="{{ asset('themes/' ~  current_theme()  ~ '/images/grd.png') }}" class="grd">
    <div class="row about__outer-wrapper">
        <div class="about__container">
            <h2 class="about__title">
                About us
            </h2>

            <p class="about__text-content">
                    We are the biggest e-marketplace gateway in Nigeria, designed to connect our local businesses and
                    brands to the world by providing e-tools for sellers and suppliers to gain global audience,
                    Delivering peace of mind to business owners looking for marketing & visibility support.
                    Reliable, Affordable, Professional.
            </p>
        </div>
    </div>


    <div class="row">

        <div class="about__lower-section">



            <div class="">
                <div class="about__lower-wrapper-box">
                    <div class="about__lower-inner-box-wrap">
                        <p>Transparency<br>
                            Builds<br>
                            Trust<br>
                        </p>
                    </div>
                </div>
            </div>


            <div class="about__low-text--wrap">

              <p class="about__lower-txt-content">
                      In today's multi-channel marketing landscape, small business owners need the help of innovative
                      platforms that can connect to and reach customers in a cost efficient way. What matters the
                      most is
                      what gets the phones to ring, website to click, and positive reviews to generate. What sets
                      afiaanyi apart from our competitors is that we offer enterprise level solutions at small
                      business
                      prices. <span class='see__more hide__span'>See more</span>
                  </p>

                  <p class="about__lower-txt-content">
                      afiaany reaches your audience on channels that are relevant to their lives and your strategy.
                      The
                      biggest benefit of being a marketing company with one of the most popular local directories in
                      the
                      country, is that we get to bask in our merchants success. While afiaany helps boost merchants
                      organic search results, we're directly boosting our own results as well, thus making this a
                      partnership in its truest form. Our story and success wouldn't be possible if we didn't have
                      our
                      amazing sellers backing us up! <span class='see__less hide__span'>See less</span>
                  </p>

            </div>

        </div>

    </div>



</section>

<section>

    <div class="img__section">

        <div class="img__section-wrapper">

            <div>
                <h2 class="img__section-title">
                    Want to achieve marketing success?
                </h2>

                <div class="btn-section__container">
                    <button class="btn btn__img-section">
                        Interested in being a part of our journey? APPLY NOW
                    </button>
                </div>

            </div>

        </div>

    </div>

</section>


<section class="rows__stacked">

    <div class="stacked__row-wrapper">

        <img src="{{ asset('themes/' ~  current_theme()  ~ '/images/first-gradient.png') }}" class="first__row-grd">


        <div class="row section-rows">



            <div class="section__row">

                <div class="section__left-container">
                    <h3 class="section__left-title">
                        Company
                    </h3>
                    <div class="small__border">&nbsp;</div>
                    <p class="section__left_txt-content">
                        Launched in 2019, Afiaanyi.com is the biggest e-marketplace gateway in Nigeria, designed to
                        connect our local businesses and brands to the world by providing e-tools for sellers and
                        suppliers to gain global audience.We are committed to making meaningful impact through
                        continuous innovation to meet the dynamic needs of Enterprises and empower them by creating
                        a
                        system that delivers better value through easily accessible information and connections
                        with
                        the right service businesses.
                    </p>

                </div>
                <div class="section__right-container">

                    <div class="section-row__first-bg"></div>
                    <div class="section-row__second-bg"></div>

                </div>

            </div>

        </div>

    </div>



    <div class="stacked__row-wrapper">

        <img src="{{ asset('themes/' ~  current_theme()  ~ '/images/second-grd.png') }}" class="sec__row-grd">


        <div class="row section-rows">

            <div class="section__row">

                <div class="section__right-container section-right-container--adjusted">

                    <div class="section-row__first-bg section-row__first-bg--adjusted"></div>
                    <div class="section-row__second-bg section-row__second-bg--adjusted"></div>

                </div>

                <div class="section__left-container section__left-container--adjusted">
                    <h3 class="section__left-title">
                        Our Mission
                    </h3>
                    <div class="small__border">&nbsp;</div>
                    <p class="section__left_txt-content">
                        As part of the 21st century business world and globalization. Our mission is to make it
                        easy to
                        do business anywhere in the world and connect our local businesses to global patronage. We
                        do
                        this by providing the necessary tools for the sellers or suppliers to gain global audience
                        cheaply, faster and safer. We also help buyers find their products.
                    </p>

                </div>

            </div>

        </div>

    </div>



    <div class="stacked__row-wrapper">

        <div class="row section-rows">

            <div class="section__row">

                <div class="section__left-container">
                    <h3 class="section__left-title">
                        Our Values
                    </h3>
                    <div class="small__border">&nbsp;</div>
                    <p class="section__left_txt-content section__left_txt-content--adjusted">
                        Customers king
                    </p>
                    <p class="section__left_txt-content section__left_txt-content--adjusted">
                        Employees
                    </p>
                    <p class="section__left_txt-content section__left_txt-content--adjusted">
                        Share holders
                    </p>
                    <p class="section__left_txt-content section__left_txt-content--adjusted">
                        Technology
                    </p>
                    <p class="section__left_txt-content section__left_txt-content--adjusted">
                        Efficiency
                    </p>
                    <p class="section__left_txt-content section__left_txt-content--adjusted">
                        Unity
                    </p>

                </div>
                <div class="section__right-container">

                    <div class="section-row__first-bg"></div>
                    <div class="section-row__second-bg section-row__second-bg--readjusted"></div>

                </div>

            </div>

        </div>
    </div>



</section>



<section class="last__section">

    <img src="{{ asset('themes/' ~  current_theme()  ~ '/images/third-grd.png') }}" class="third__row-grd">
    <!--
    <div class="row people__section-container">
            <div class="row">
                <h3 class="section__left-title">
                    Our People
                </h3>
                <div class="small__border">&nbsp;</div>
                <p class="section__left_txt-content">
                    Our Team Members Ready to Serve You
                </p>

                <div class="people__content-box-outer">

                        <img class="previous" src="{{ asset('themes/' ~ current_theme() ~ '/images/pre-svg.svg')}}">
                        <img class="next" src="{{ asset('themes/' ~ current_theme() ~ '/images//nex-svg.svg')}}">

                    <div class="people__inner-container">

                        <div class="people__content-box people__content-box--left">

                            <div class="image__container">
                                <img src="{{ asset('themes/' ~ current_theme() ~ '/images/user.png')}}" width="100px">
                            </div>

                            <p class="user__specifics">
                                John Doe
                            </p>
                            <p class="user__specifics user__specifics--bolder">
                                UI/UX Designer
                            </p>
                            <p class="user__specifics">
                                Lorem ipsum dolor sit amet,
                                sed diam nonumy eirmod tempor
                                invidunt ut
                            </p>

                        </div>

                        <div class="people__content-box people__content-box--right">
                            <div class="image__container">
                                <img src="{{ asset('themes/' ~ current_theme() ~ '/images/user.png')}}" width="100px">
                            </div>

                            <p class="user__specifics">
                                John Doe
                            </p>
                            <p class="user__specifics user__specifics--bolder">
                                UI/UX Designer
                            </p>
                            <p class="user__specifics">
                                Lorem ipsum dolor sit amet,sed diam
                                nonumy eirmod tempor invidunt ut
                            </p>
                        </div>

                        <div class="people__content-box people__content-box--right">
                            <div class="image__container">
                                <img src="{{ asset('themes/' ~ current_theme() ~ '/images/user.png')}}" width="100px">
                            </div>

                            <p class="user__specifics">
                                John Doe
                            </p>
                            <p class="user__specifics user__specifics--bolder">
                                UI/UX Designer
                            </p>
                            <p class="user__specifics">
                                Lorem ipsum dolor sit amet,sed diam
                                nonumy eirmod tempor invidunt ut
                            </p>
                        </div>

                        <div class="people__content-box people__content-box--right">
                            <div class="image__container">
                                <img src="{{ asset('themes/' ~ current_theme() ~ '/images/user.png')}}" width="100px">
                            </div>

                            <p class="user__specifics">
                                John Doe
                            </p>
                            <p class="user__specifics user__specifics--bolder">
                                UI/UX Designer
                            </p>
                            <p class="user__specifics">
                                Lorem ipsum dolor sit amet,sed diam
                                nonumy eirmod tempor invidunt ut
                            </p>
                        </div>

                        <div class="people__content-box people__content-box--left">

                            <div class="image__container">
                                <img src="{{ asset('themes/' ~ current_theme() ~ '/images/user.png')}}" width="100px">
                            </div>

                            <p class="user__specifics">
                                John Doe
                            </p>
                            <p class="user__specifics user__specifics--bolder">
                                UI/UX Designer
                            </p>
                            <p class="user__specifics">
                                Lorem ipsum dolor sit amet,
                                sed diam nonumy eirmod tempor
                                invidunt ut
                            </p>

                        </div>

                        <div class="people__content-box people__content-box--right">
                            <div class="image__container">
                                <img src="{{ asset('themes/' ~ current_theme() ~ '/images/user.png')}}" width="100px">
                            </div>

                            <p class="user__specifics">
                                John Doe
                            </p>
                            <p class="user__specifics user__specifics--bolder">
                                UI/UX Designer
                            </p>
                            <p class="user__specifics">
                                Lorem ipsum dolor sit amet,sed diam
                                nonumy eirmod tempor invidunt ut
                            </p>
                        </div>

                        <div class="people__content-box people__content-box--right">
                            <div class="image__container">
                                <img src="{{ asset('themes/' ~ current_theme() ~ '/images/user.png')}}" width="100px">
                            </div>

                            <p class="user__specifics">
                                John Doe
                            </p>
                            <p class="user__specifics user__specifics--bolder">
                                UI/UX Designer
                            </p>
                            <p class="user__specifics">
                                Lorem ipsum dolor sit amet,sed diam
                                nonumy eirmod tempor invidunt ut
                            </p>
                        </div>

                        <div class="people__content-box people__content-box--right">
                            <div class="image__container">
                                <img src="{{ asset('themes/' ~ current_theme() ~ '/images/user.png')}}" width="100px">
                            </div>

                            <p class="user__specifics">
                                John Doe
                            </p>
                            <p class="user__specifics user__specifics--bolder">
                                UI/UX Designer
                            </p>
                            <p class="user__specifics">
                                Lorem ipsum dolor sit amet,sed diam
                                nonumy eirmod tempor invidunt ut
                            </p>
                        </div>

                    </div>


                </div>

            </div>

    </div>
    -->
    <div class="row people__section-container">

            <div class="row">
                <h3 class="section__left-title section__left-title--resp">
                    Our People
                </h3>
                <div class="small__border small__border--resp">&nbsp;</div>
                <p class="section__left_txt-content section__left_txt-content--resp">
                    Our Team Members Ready to Serve You
                </p>

                <div class="people__content-box-outer">

                    <img class="previous" src="{{ asset('themes/' ~ current_theme() ~ '/images/pre-svg.svg')}}">
                    <img class="next" src="{{ asset('themes/' ~ current_theme() ~ '/images/nex-svg.svg')}}">

                    <div class="owl-carousel owl-one">

                        <div class="people__content-box">

                            <div class="image__container">
                                <img src="{{ asset('themes/' ~ current_theme() ~ '/images/user.png')}}" width="100px">
                            </div>

                            <p class="user__specifics">
                                John Doe
                            </p>
                            <p class="user__specifics user__specifics--bolder">
                                UI/UX Designer
                            </p>
                            <p class="user__specifics">
                                Lorem ipsum dolor sit amet,
                                sed diam nonumy eirmod tempor
                                invidunt ut
                            </p>

                        </div>

                        <div class="people__content-box ">
                            <div class="image__container">
                                <img src="{{ asset('themes/' ~ current_theme() ~ '/images/user.png')}}" width="100px">
                            </div>

                            <p class="user__specifics">
                                John Doe
                            </p>
                            <p class="user__specifics user__specifics--bolder">
                                UI/UX Designer
                            </p>
                            <p class="user__specifics">
                                Lorem ipsum dolor sit amet,sed diam
                                nonumy eirmod tempor invidunt ut
                            </p>
                        </div>

                        <div class="people__content-box ">
                            <div class="image__container">
                                <img src="{{ asset('themes/' ~ current_theme() ~ '/images/user.png')}}" width="100px">
                            </div>

                            <p class="user__specifics">
                                John Doe
                            </p>
                            <p class="user__specifics user__specifics--bolder">
                                UI/UX Designer
                            </p>
                            <p class="user__specifics">
                                Lorem ipsum dolor sit amet,sed diam
                                nonumy eirmod tempor invidunt ut
                            </p>
                        </div>

                        <div class="people__content-box ">
                            <div class="image__container">
                                <img src="{{ asset('themes/' ~ current_theme() ~ '/images/user.png')}}" width="100px">
                            </div>

                            <p class="user__specifics">
                                John Doe
                            </p>
                            <p class="user__specifics user__specifics--bolder">
                                UI/UX Designer
                            </p>
                            <p class="user__specifics">
                                Lorem ipsum dolor sit amet,sed diam
                                nonumy eirmod tempor invidunt ut
                            </p>
                        </div>

                        <div class="people__content-box">

                            <div class="image__container">
                                <img src="{{ asset('themes/' ~ current_theme() ~ '/images/user.png')}}" width="100px">
                            </div>

                            <p class="user__specifics">
                                John Doe
                            </p>
                            <p class="user__specifics user__specifics--bolder">
                                UI/UX Designer
                            </p>
                            <p class="user__specifics">
                                Lorem ipsum dolor sit amet,
                                sed diam nonumy eirmod tempor
                                invidunt ut
                            </p>

                        </div>

                        <div class="people__content-box ">
                            <div class="image__container">
                                <img src="{{ asset('themes/' ~ current_theme() ~ '/images/user.png')}}" width="100px">
                            </div>

                            <p class="user__specifics">
                                John Doe
                            </p>
                            <p class="user__specifics user__specifics--bolder">
                                UI/UX Designer
                            </p>
                            <p class="user__specifics">
                                Lorem ipsum dolor sit amet,sed diam
                                nonumy eirmod tempor invidunt ut
                            </p>
                        </div>

                        <div class="people__content-box ">
                            <div class="image__container">
                                <img src="{{ asset('themes/' ~ current_theme() ~ '/images/user.png')}}" width="100px">
                            </div>

                            <p class="user__specifics">
                                John Doe
                            </p>
                            <p class="user__specifics user__specifics--bolder">
                                UI/UX Designer
                            </p>
                            <p class="user__specifics">
                                Lorem ipsum dolor sit amet,sed diam
                                nonumy eirmod tempor invidunt ut
                            </p>
                        </div>

                        <div class="people__content-box">
                            <div class="image__container">
                                <img src="{{ asset('themes/' ~ current_theme() ~ '/images/user.png')}}" width="100px">
                            </div>

                            <p class="user__specifics">
                                John Doe
                            </p>
                            <p class="user__specifics user__specifics--bolder">
                                UI/UX Designer
                            </p>
                            <p class="user__specifics">
                                Lorem ipsum dolor sit amet,sed diam
                                nonumy eirmod tempor invidunt ut
                            </p>
                        </div>
                    </div>

                    <div class="people__inner-container">





                    </div>


                </div>

            </div>

        </div>

</section>

{% endblock %}
