{% extends "layouts.app_new" %}

{% block content %}
<!-- Intrest -->
<section class="intrest">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center pt-5 pb-5">
        <h3 class="mb-2">What are you intrested in?</h3>
        <p>See what other people are searching for</p>
      </div>
      <div
        id="myCarousel"
        class="carousel slide mb-5"
        data-ride="carousel"
        data-interval="20000"
      >
        <ol class="carousel-indicators">
          <li
            data-target="#myCarousel"
            data-slide-to="0"
            class="active"
          ></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row">
              <div class="col-12 col-md-7">
                <div class="row">
                  <div class="col-12 col-md-6 ">
                    <div class="caro-item caro-item-customize-1">
                      <div class="caro-item-inner">
                        <div class="row">
                          <div class="col-12 mb-4">
                            <p>Restaurants</p>
                          </div>
                          <div class="col-12 text-right">
                            <button
                              class="btn btn-outline-warning btn-sm"
                            >
                              Nook
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-6">
                    <div class="caro-item caro-item-customize-2">
                      <div class="caro-item-inner">
                        <div class="row">
                          <div class="col-12 mb-4"><p>Saloons</p></div>
                          <div class="col-12 text-right">
                            <button
                              class="btn btn-outline-warning btn-sm"
                            >
                              Nook
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-5">
                <div class="row">
                  <div class="col-12">
                    <div class="caro-item-2 mb-3 caro-item-customize">
                      <div class="caro-item-inner">
                        <div class="row">
                          <div class="col-6"><p>Cinema</p></div>
                          <div class="col-6 text-right">
                            <button
                              class="btn btn-outline-warning btn-sm"
                            >
                              Nook
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="caro-item-2">
                      <div class="caro-item-inner">
                        <div class="row">
                          <div class="col-6"><p>House</p></div>
                          <div class="col-6 text-right">
                            <button
                              class="btn btn-outline-warning btn-sm"
                            >
                              Nook
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item ">
            <div class="row">
              <div class="col-12 col-md-7">
                <div class="row">
                  <div class="col-12 col-md-6">
                    <div class="caro-item caro-item-customize"></div>
                  </div>
                  <div class="col-12 col-md-6">
                    <div class="caro-item caro-item-customize"></div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-5">
                <div class="row">
                  <div class="col-12">
                    <div class="caro-item-2 mb-3"></div>
                  </div>
                  <div class="col-12">
                    <div class="caro-item-2"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="adverts_here my-4">
  <div class="container">
    <!-- End Intrest -->
    <h3>Place your adver here</h3>
    <!-- Best places -->
  </div>
</section>

<section class="container mb-5">
  <div class="row">
    <div class="col-12 text-center pt-5 pb-5">
      <h3 class="mb-2">Best rated services & offers</h3>
      <p>Explore some best place around you and leave a review</p>
    </div>
  </div>
  <div class="places">
    <div class="row">
      <div class="col-12 col-md-4">
        <div class="places-item">
          <div class="places-item-pic places-item-pic-custom-1"></div>
          <div class="places-item-details mt-3 row">
            <div class="col-9">
              <h6 class="row mb-2 font-weight-bold">
                <span class="col-1 active">
                  <i class="fas fa-user"></i>
                </span>
                <span class="col-10"> Ezeduo Cleaners </span>
              </h6>
              <p class="row mb-2">
                <span class="col-1 active">
                  <i class="fas fa-map-marker-alt"></i>
                </span>
                <span class="col-10">
                  56, Iyanda Ikoko, Jude Edeh Way
                </span>
              </p>
              <p class="row mb-2">
                <span class="col-1 active"
                  ><i class="fas fa-phone"></i
                ></span>
                <span class="col-10">08108938583</span>
              </p>
              <p class="row mb-2">
                <span class="col-1 active">
                  <i class="fas fa-envelope"></i>
                </span>
                <span class="col-10"> info@ecleaners.com </span>
              </p>
              <p class="row mb-4">
                <span class="col-1 active"
                  ><i class="fas fa-globe"></i
                ></span>
                <span class="col-10">www.eclearners.com</span>
              </p>
            </div>
            <div class="col-1"><span class="rating">4.5</span></div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-4">
        <div class="places-item">
          <div class="places-item-pic places-item-pic-custom-2">
            <img src="{{ asset('themes/' ~ current_theme() ~ '/images/vehicle.png') }}" alt="Place" />
          </div>
          <div class="places-item-details mt-3 row">
            <div class="col-9">
              <h6 class="row mb-2 font-weight-bold">
                <span class="col-1 active">
                  <i class="fas fa-user"></i>
                </span>
                <span class="col-10"> Ezeduo Cleaners </span>
              </h6>
              <p class="row mb-2">
                <span class="col-1 active">
                  <i class="fas fa-map-marker-alt"></i>
                </span>
                <span class="col-10">
                  56, Iyanda Ikoko, Jude Edeh Way
                </span>
              </p>
              <p class="row mb-2">
                <span class="col-1 active"
                  ><i class="fas fa-phone"></i
                ></span>
                <span class="col-10">08108938583</span>
              </p>
              <p class="row mb-2">
                <span class="col-1 active">
                  <i class="fas fa-envelope"></i>
                </span>
                <span class="col-10"> info@ecleaners.com </span>
              </p>
              <p class="row mb-4">
                <span class="col-1 active"
                  ><i class="fas fa-globe"></i
                ></span>
                <span class="col-10">www.eclearners.com</span>
              </p>
            </div>
            <div class="col-1"><span class="rating">4.5</span></div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-4">
        <div class="places-item">
          <div class="places-item-pic places-item-pic-custom-3">
            <img src="{{ asset('themes/' ~ current_theme() ~ '/images/fashion.png') }}" alt="Place" />
          </div>
          <div class="places-item-details mt-3 row">
            <div class="col-9">
              <h6 class="row mb-2 font-weight-bold">
                <span class="col-1 active">
                  <i class="fas fa-user"></i>
                </span>
                <span class="col-10"> Ezeduo Cleaners </span>
              </h6>
              <p class="row mb-2">
                <span class="col-1 active">
                  <i class="fas fa-map-marker-alt"></i>
                </span>
                <span class="col-10">
                  56, Iyanda Ikoko, Jude Edeh Way
                </span>
              </p>
              <p class="row mb-2">
                <span class="col-1 active"
                  ><i class="fas fa-phone"></i
                ></span>
                <span class="col-10">08108938583</span>
              </p>
              <p class="row mb-2">
                <span class="col-1 active">
                  <i class="fas fa-envelope"></i>
                </span>
                <span class="col-10"> info@ecleaners.com </span>
              </p>
              <p class="row mb-4">
                <span class="col-1 active"
                  ><i class="fas fa-globe"></i
                ></span>
                <span class="col-10">www.eclearners.com</span>
              </p>
            </div>
            <div class="col-1"><span class="rating">4.5</span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Best places -->

<section
  class="card mb-5"
  style="background-image: url(/assets/images/bg-black.png)"
>
  <div class="container">
    <div class="row">
      <div class="d-none d-md-block col-md-6">
        <div class="business-card">
          <img src="{{ asset('themes/' ~ current_theme() ~ '/images/card.png') }}" alt="business card" />
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="sign-info">
          <h3 class="mb-3">Promote your business today with Afiaanyi</h3>
          <button class="btn btn-sm btn-warning">
            Sign up for an account
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="user-feedback mb-5">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center pt-5 pb-5">
        <h3 class="mb-2">What the community is saying</h3>
      </div>

      <div class="col-12 col-md-4">
        <div
          class="user-feedback__container text-center shadow-custom p-4"
        >
          <div class="user-pic__container mb-4">
            <img src="{{ asset('themes/' ~ current_theme() ~ '/images/man.png') }}" alt="User" />
          </div>
          <p class="text-center user-feedback-text">
            Afiaanyi has taken up my business to the next level. My dreams
            of expansion has been realized
          </p>

          <h6 class="text-center mt-3 font-weight-bold">
            - CEO Don P Ltd
          </h6>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div
          class="user-feedback__container text-center shadow-custom p-4"
        >
          <div class="user-pic__container mb-4">
            <img src="{{ asset('themes/' ~ current_theme() ~ '/images/man.png') }}" alt="User" />
          </div>
          <p class="text-center user-feedback-text">
            Afiaanyi has taken up my business to the next level. My dreams
            of expansion has been realized
          </p>

          <h6 class="text-center mt-3 font-weight-bold">
            - CEO Don P Ltd
          </h6>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div
          class="user-feedback__container text-center shadow-custom p-4"
        >
          <div class="user-pic__container mb-4">
            <img src="{{ asset('themes/' ~ current_theme() ~ '/images/man.png') }}" alt="User" />
          </div>
          <p class="text-center user-feedback-text">
            Afiaanyi has taken up my business to the next level. My dreams
            of expansion has been realized
          </p>

          <h6 class="text-center mt-3 font-weight-bold">
            - CEO Don P Ltd
          </h6>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="news-updates">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center pt-5 pb-5">
        <h3 class="mb-2">News & Updates</h3>
      </div>

      <div class="col-12 col-md-4">
        <div class="news-item mb-4">
          <div class="news-img-cover">
            <img src="{{ asset('themes/' ~ current_theme() ~ '/images/coming-soon.png') }}" alt="" />
          </div>
          <div class="news-details">
            <p class="date mb-2">November 28, 2018</p>
            <h6 class="font-weight-bold mb-3">
              Afiaanyi Official Launch
            </h6>
            <div class="activities">
              <div class="mr-4">
                <i class="fas fa-heart active"></i> <span>400</span>
              </div>
              <div>
                <i class="fas fa-eye active"></i> <span>800</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="news-item mb-4">
          <div class="news-img-cover">
            <img src="{{ asset('themes/' ~ current_theme() ~ '/images/coming-soon.png') }}" alt="" />
          </div>
          <div class="news-details">
            <p class="date mb-2">November 28, 2018</p>
            <h6 class="font-weight-bold mb-3">
              Afiaanyi Official Lanuch
            </h6>
            <div class="activities">
              <div class="mr-4">
                <i class="fas fa-heart active"></i> <span>400</span>
              </div>
              <div>
                <i class="fas fa-eye active"></i> <span>800</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="news-item mb-4">
          <div class="news-img-cover">
            <img src="{{ asset('themes/' ~ current_theme() ~ '/images/coming-soon.png') }}" alt="" />
          </div>
          <div class="news-details">
            <p class="date mb-2">November 28, 2018</p>
            <h6 class="font-weight-bold mb-3">
              Afiaanyi Official Lanuch
            </h6>
            <div class="activities">
              <div class="mr-4">
                <i class="fas fa-heart active"></i> <span>400</span>
              </div>
              <div>
                <i class="fas fa-eye active"></i> <span>800</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-white support-section">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h6>Phone support</h6>
        <p class="mt-4">
          <span class="active mr-2"><i class="fas fa-phone"></i></span>
          <span>08184424512</span>
        </p>
      </div>

      <div class="col-md-3">
        <h6>Email support</h6>
        <p class="mt-4">
          <span class="active mr-2"><i class="fas fa-envelope"></i></span>
          <span>08184424512</span>
        </p>
      </div>

      <div class="col-md-6">
        <h6 class="">Get latest deals and updates</h6>
        <div class="row mt-3">
          <div class="col-12 col-md-6">
            <p>
              <i>
                Stay in the loop on all upcoming promotion, discounts, and
                latest updates</i
              >
            </p>
          </div>
          <div class="col-12 col-md-6">
            <div class="input-group">
              <input
                type="text"
                class="form-control email-input"
                placeholder="Enter email"
                aria-label="Enter email"
                aria-describedby="button-addon2"
              />
              <div class="input-group-append">
                <span class="input-group-text primary-btn"
                  ><i class="fas fa-paper-plane"></i
                ></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
