<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='shortcut icon' type='image/x-icon' href="{{ asset('images/favicon.ico') }}" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
    <style>
        @import url('https://fonts.googleapis.com/css?family=Lato:100,300,300i,400');
        {% block style %}

        {% endblock %}
    </style>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <title>Faq</title>
    <style>
    @import url({{ asset('themes/' ~  current_theme()  ~ '/css/overload.css')}});
    {% block styles %}

    {% endblock %}
    .modal {
      overflow-y: auto;
      background-color: rgba(0, 0, 0, 0.2); }
      @media screen and (max-width: 575px) {
        .signup {
          padding: 20px 20px; }
        .modal-dialog {
          margin: 30px; }
        }
    .signup__background {
       position: absolute;
       left: 0;
       top: 0;
       width: 100%;
       height: 100%;
    }

    .interest__individual-cover-img {
     width: 100px;
     height: 100px !important;
     position: absolute;
     top: -6px;
     right: 0;
   }
   .signup__form-input:focus {
     border: 1px solid #E6B712;
     box-shadow: none;
   }
   input::placeholder {
    font-size: 14px;
    color: #B5B5B5;
    font-family: inherit;
   }
   input::placeholder {
    font-size: 14px;
    color: #B5B5B5;
    font-family: inherit;
   }
   .signup__heading-text {
    font-weight: 500;
    line-height: normal;
    font-size: 18px;
    color: #000000;
    margin-bottom: 2px;
    text-transform: uppercase;
  }
  .signup__logo {
   width: 60px;
   height: 54px;
   margin: 7px auto;
 }
 .signup__heading {
  text-align: center;
 }
 .signup__form-input::placeholder {
  color: #C4C4C4;
  font-weight: 300;
 }
 .signup__form-input {
  height: 50px;
  width: 100%;
  background: #FFFFFF;
  border-radius: 4px;
  border: 1px solid rgba(65, 64, 64, 0.5);
  margin-bottom: 27px;
  color: #000000;
  font-size: 14px;
  padding: 16px 20px !important;
}
.signup__heading-subtext {

  color: #E6B712;
  font-weight: 500;
  line-height: normal;
  font-size: 12px;
  margin-bottom: 30px;
}
.signup__form-button {

  background: linear-gradient(90deg, #E6B712 31.25%, #CAAA3B 88.19%);
  border-radius: 4px;
  border: none;
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  font-weight: 600;
  line-height: normal;
  font-size: 20px;
  color: #FFFFFF;
  margin-bottom: 10px;
}
.signup__form-subscribe {

font-size: 10px;
color: #000000;
margin-left: 37px;
}
.login__forgot-password a {

color: #E6B712;
font-size: 10px;
float: right;
}
.img-fluid {

max-width: 100%;
height: auto;
}
.signup__form-already-in {

font-size: 12px;
text-align: center;

}
.modal-dialog {
width: 360px !important;

}
.dropdown-item {
display: block;
width: 100%;
padding: 0.3rem 2.0rem;
clear: both;
font-weight: 400;
color: #212529;
text-align: inherit;
white-space: nowrap;
background-color: transparent;
border: 0;

}

.dropdown-divider {
height: 0;
margin: 0.5rem 0;
overflow: hidden;
border-top: 1px solid #e9ecef;
}
.intl-tel-input {
 width: 100% !important;
}
</style>
<link rel="stylesheet" href="{{ asset('themes/' ~  current_theme()  ~ '/css/modal/bootstrap.css') }}">
<style>
 .modal-dialog {

    width: 39% !important;

 }
 .signup {
  padding: 20px 50px;
  position: relative;

 }
 .dropdown-menu {
   padding: 11px;
 }
 .dropdown-menu a {
   font-size: 16px !important;
   text-decoration: none !important;
   font-weight: 400 !important;
 }
</style>
<link rel="stylesheet" href="{{ asset('themes/' ~  current_theme()  ~ '/css/overload.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/14.0.8/css/intlTelInput.css">
</head>


<body>

    <header>
        <nav>
            <div class="header__top-container">
                <div class="row header__nav-content">

                    <div class="header__logo-container">
                      <a href="{{ route('home') }}">
                        <img src="{{ asset('themes/' ~ current_theme() ~ '/images/market-logo.svg')}}" class="header__logo" alt="Afiaanyi logo">
                     </a>
                    </div>

                    <div class="header__nav-list-container-outer">
                      <ul class="header__nav-list-container">
                        <li class="header__nav-list">
                            <a style="font-weight: bold; color: #E6B712 !important;" href="{{ route('page.topbrands') }}" class="header__nav-link">Afiaanyi's Top Brands</a>
                        </li>
                          <li class="header__nav-list">
                              <a href="{{ route('browsebrand') }}" class="header__nav-link">Directory</a>
                          </li>
                          <li class="header__nav-list">
                              <a href="{{ route('browse') }}" class="header__nav-link">Shop</a>
                          </li>

                          <li class="header__nav-list">
                              <a href="{{ route('page.comingsoon') }}" class="header__nav-link">Jobs</a>
                          </li>
                          {% if auth_guest() %}
                           <li class="header__nav-list">
                              <a href="#login" data-toggle="modal" class="header__nav-link">Login</a>
                           </li>
                           <li class="header__nav-list">
                              <a href="#signup-one" data-toggle="modal" class="header__nav-link">Create an account</a>
                           </li>
                          {% endif %}

                      </ul>
                    </div>

                    {% if auth_guest() %}

                    {% else %}
                     <div class="header__right-nav">
                       <ul style="float: left; padding-top: 12px; font-size: 12px; font-weight: 500;" class="header__nav-list-container">
                         <li style="padding-right: 0px;" class="header__nav-list header__nav-list--divider">

                            Welcome, &nbsp;<span class="user__name">{{ auth_user().first_name() }}!</span>
                          </li>
                        </ul>
                        <ul style="float: left;" class="header__nav-list-container">
                          <li style="padding-left: 0px;" class="header__nav-list header__nav-list--divider">
                            <span class="dropdown">
                            <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                                <img src="{{ auth_user().avatar }}" class="header-nav-icon header__avatar" height="35px"
                                    width="35px">
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{{ route('account.') }}">User Dashboard</a>
                                {% if auth_user().hasRole('admin') or auth_user().hasRole('super-admin') %}
                                  <div class="dropdown-divider"></div>
                                   <a href="./panel" class="dropdown-item">Manage Site</a>
                                {% endif %}
                                <div class="dropdown-divider"></div>
                                <a href="{{ route('logout') }}"  onclick="event.preventDefault(); document.getElementById('logout-form').submit();" class="dropdown-item" href="#">Logout</a>
                                <form id="logout-form" action="{{ route('logout') }}" method="POST" style="display: none;">
                                    {{ csrf_field() }}
                                </form>
                            </div>
                           </span>
                          </li>
                        </ul>
                     </div>
                    {% endif %}

                </div>




            </div>
        </nav>
        {% block hero %}
        <div class="hero">
            <div class="hero__text-box">
                <h2 class="hero__content-title">TERMS OF USE</h2>
                <div class="hero__list-box">
                    <ul class="hero__list-container">
                        <li class="hero__list"><a href="#terms">Terms of Condition and Use</a></li>
                        <li class="hero__list"><a href="#user">User Submission</a></li>
                        <li class="hero__list"><a href="#site">Site Usage</a></li>
                        <li class="hero__list"><a href="#accessibility">Accessibility of website</a></li>
                        <li class="hero__list"><a href="#links">Links and Third party website</a></li>
                        <li class="hero__list"><a href="#misc">Miscellaneous povision</a></li>
                        <li class="hero__list"><a href="#availability">Availability of information on Afiaanyi</a></li>
                        <li class="hero__list"><a href="#conceptual">Conceptual property</a></li>

                    </ul>

                    <ul class="hero__list-container">
                        <li class="hero__list"><a href="#safeguarding">Safeguarding Data</a></li>
                        <li class="hero__list"><a href="#endorsement">Endorsement</a></li>
                        <li class="hero__list"><a href="#appliable">Appliable law and Jurisdiction</a></li>
                        <li class="hero__list"><a href="#arbitration">Arbitration</a></li>
                        <li class="hero__list"><a href="#dissolution">Dissolution</a></li>
                        <li class="hero__list"><a href="#severability">Severability</a></li>
                        <li class="hero__list"><a href="#termssale">Terms and Condition of Sale</a></li>
                    </ul>
                </div>
            </div>
        </div>
        {% endblock %}
    </header>
    {% block content %}

    {% endblock %}

    <section class="contact__container">
        <div class="contact row">
            <div class="one">
                <p>
                    <strong>PHONE SUPPORT</strong><br>

                    <img class="" src="{{ asset('themes/' ~ current_theme() ~ '/images/phone.svg') }}" alt=""> +234 905 300 0056-9
                </p>
            </div>
            <div class="two">
                <p>
                    <strong>EMAIL SUPPORT</strong>
                </p>
                <p>
                    <img class="" src="{{ asset('themes/' ~ current_theme() ~ '/images/mail.svg') }}" alt=""> info@afiaayan.com
                </p>
            </div>
            <div class="three">
                <p>
                    <span>
                        <strong>GET LATEST DEALS & UPDATES</strong>
                    </span>
                    <br>
                    <i>Stay in the loop on all upcoming promotions,
                        <br> discounts and latest updates.</i>
                </p>
            </div>
            <div class="four">
                <input type="email" id="mail" placeholder="Enter e-mail"><input id="send" type="submit" value="send">
            </div>
        </div>


    </section>
    {% block footer %}
        {% include 'layouts.footer_latest.twig' %}
    {% endblock %}
    {% include "layouts.partials.auth_modals.twig" %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
    <script src="{{ asset('themes/' ~ current_theme() ~ '/js/terms.js')}}"></script>
    <script src="{{ asset('themes/' ~  current_theme()  ~ '/js/modal/bootstrap.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/14.0.8/js/intlTelInput-jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/14.0.8/js/intlTelInput.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/14.0.8/js/utils.js"></script>
    {% include "layouts.partials.auth_js.twig" %}
</body>

</html>
