<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='shortcut icon' type='image/x-icon' href="{{ asset('images/favicon.ico') }}" />
    <!-- CSRF Token -->
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <title>Afiaanyi | Marketplace</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css" integrity="sha384-v2Tw72dyUXeU3y4aM2Y0tBJQkGfplr39mxZqlTBDUZAb9BGoC40+rdFCG0m10lXk"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/fontawesome.css" integrity="sha384-q3jl8XQu1OpdLgGFvNRnPdj5VIlCvgsDQTQB6owSOHWlAurxul7f+JpUOVdAiJ5P"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('themes/' ~  current_theme()  ~ '/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('themes/' ~  current_theme()  ~ '/css/slick.css') }}">
    <link rel="stylesheet" href="{{ asset('themes/' ~  current_theme()  ~ '/css/slick-theme.css') }}">
    <link rel="stylesheet" href="{{ asset('themes/' ~  current_theme()  ~ '/css/main.css') }}">
    <link rel="stylesheet" href="{{ asset('themes/' ~  current_theme()  ~ '/css/logged-navbar.css') }}">

    <link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{ asset('themes/' ~  current_theme()  ~ '/css/jquery.fancybox.css') }}">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <script src="{{ asset('themes/' ~  current_theme()  ~ '/js/csi.min.js') }}"></script>

</head>


<body class="marketplace__body">
    <!-- -->
  {% include 'layouts.svg '%}

  <nav>
    <div class="row header__nav-content">
        <div>
          <a href="{{ route('home') }}">
            <img src="{{ asset('themes/' ~ current_theme() ~ '/images/market-logo.svg') }}" class="header__logo" alt="Afiaanyi logo">
          </a>
        </div>
        <div>
            <input type="search" class="header__form-input header__input-nav" placeholder="Search for products, brands and categories">
            <input type="submit" class="header__submit">
        </div>

        <div>
            <ul class="header__nav-list-container">
              <li class="header__nav-list">
                <a style="font-weight: bold; color: #E6B712 !important;" class="header__nav-link" href="{{ route('page.topbrands') }}">Afiaanyi's Top Brands</a>
              </li>
                <li class="header__nav-list">
                    <a href="{{ route('page.directory') }}" class="header__nav-link">Directory</a>
                </li>
                <li class="header__nav-list">
                    <a href="{{ route('browse') }}" class="header__nav-link">Shop</a>
                </li>
                <li class="header__nav-list">
                    <a href="{{ route('page.comingsoon') }}" class="header__nav-link">Jobs</a>
                </li>
                <!--
                <li class="header__nav-list">
                    <a href="" class="header__nav-link header--outlined">Create A Store</a>
                </li>
               -->
            </ul>
        </div>

       {% if auth_guest() == false %}
        <div class="header__customized-items">
            <p class="header__greeting">Welcome, <span class="header__username">{{ auth_user().first_name() }}!</span></p>

            <a href="">
                <img src="{{ auth_user().avatar }}" class="header-nav-icon header__avatar" height="35px" width="35px">
            </a>
           <!--
            <a href="">
                <img src="{{ asset('themes/' ~ current_theme() ~ '/images/gold-favorite.svg') }}" class="header-nav-icon">
            </a>
            <a href="{{ route('cart') }}">
                <img src="{{ asset('themes/' ~ current_theme() ~ '/images/gold-shop-cart.svg') }}" class="header-nav-icon">
            </a>
           -->
           <a href="{{ route('cart') }}">
               <img src="{{ asset('themes/' ~ current_theme() ~ '/images/gold-shop-cart.svg') }}" class="header-nav-icon">
           </a>
          </p>
        </div>
        {% endif %}
    </div>
</nav>
{% include 'layouts.base_mega_menu.twig' %}
    <!-- -->

    {% block content %}

    {% endblock %}


    <!-- -->
    {% include "layouts.footer_latest_base.twig" %}
    <!-- -->

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog quickview__modal" role="document">
            <div class="modal-content quickview__modal-content">
                <div class="modal-header">
                    <h5 class="modal-title quickview__title" id="exampleModalLabel">The Sideswept Dhoti</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="quickview__modal-body d-flex">
                        <div class="quickview__modal-body-image">
                            <div class="gallery clearfix">
                                <div class="pics clearfix d-flex">
                                    <div class="thumbs mr-3">
                                        <div class="preview">
                                            <a href="#" class="selected" data-full="images/product-one.png" data-title="Spring 2013 | Luna + Hill">
                                                <img src="images/product-one.png" class="img-fluid">
                                            </a>
                                        </div>
                                        <div class="preview">
                                            <a href="#" data-full="images/product-two.png" data-title="Spring 2013 | Luna + Hill">
                                                <img src="images/product-two.png" class="img-fluid">
                                            </a>
                                        </div>
                                        <div class="preview">
                                            <a href="#" data-full="images/product-three.png" data-title="Spring 2013 | Luna + Hill">
                                                <img src="images/product-three.png" class="img-fluid">
                                            </a>
                                        </div>
                                        <div class="preview">
                                            <a href="#" data-full="images/product-four.png" data-title="Spring 2013 | Luna + Hill">
                                                <img src="images/product-four.png" class="img-fluid">
                                            </a>
                                        </div>
                                    </div>
                                    <a href="images/product-one.png" class="full" title="Spring 2013 | Luna + Hill">
                                        <!-- first image is viewable to start -->
                                        <img src="images/product-one.png" class="img-fluid">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="quickview__modal-body-details">
                            <h2 class="quickview__modal-body-details-heading">The Sideswept Dhoti + Bottom Line Grey
                                (Slik)</h2>
                            <div class="quickview__modal-body-price-wrapper d-flex">
                                <div class="quickview__modal-body-price">
                                    <h3><span>₦</span>65,000.00</h3>
                                    <small><span>By:</span>KJK.com.ng</small>
                                </div>
                                <div class="ml-auto quickview__modal-ratings">
                                    <svg class="icon icon-star">
                                        <use xlink:href="#icon-star"></use>
                                    </svg>
                                    <svg class="icon icon-star">
                                        <use xlink:href="#icon-star"></use>
                                    </svg>
                                    <svg class="icon icon-star">
                                        <use xlink:href="#icon-star"></use>
                                    </svg>
                                    <svg class="icon icon-star">
                                        <use xlink:href="#icon-star"></use>
                                    </svg>
                                    <svg class="icon icon-star">
                                        <use xlink:href="#icon-star"></use>
                                    </svg>
                                    <span class="quickview__modal-ratings-figure">4.8 <span> of </span>5</span><br>
                                    <a href="#">Write a review ></a>
                                </div>
                            </div>
                            <div class="quickview__modal-body-description-wrapper d-flex">
                                <div class="quickview__modal-body-description">
                                    <h4>Description</h4>
                                    <p>Inspired by the continuous length of the lunghi or sarong seen in hot climates
                                        everywhere from South Asia to the Horn of Africa and south Arabian Pen... <span><a
                                                href="#">See more</a></span></p>
                                </div>
                                <div class="marketplace__topAd quickview__modal-security">
                                    <div class="marketplace__topAd-info">
                                        <svg class="icon icon-secure-payment quickview__modal-security-icons">
                                            <use xlink:href="#icon-secure-payment"></use>
                                        </svg>
                                        <div>
                                            <h3>secure & Reliable Payment</h3>
                                        </div>
                                    </div>
                                    <div class="marketplace__topAd-info">
                                        <svg class="icon icon-days-return quickview__modal-security-icons">
                                            <use xlink:href="#icon-days-return"></use>
                                        </svg>
                                        <div>
                                            <h3>Free 7-day return if Eligible</h3>
                                        </div>
                                    </div>
                                    <div class="marketplace__topAd-info">
                                        <svg class="icon icon-geniue-product quickview__modal-security-icons">
                                            <use xlink:href="#icon-geniue-product"></use>
                                        </svg>
                                        <div>
                                            <h3>Genuine Products</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="quickview__modal-size-and-color">
                                <div class="quickview__modal-sizing">
                                    <a href="#">Size Guidelines</a>
                                    <h4>Size</h4>
                                    <div class="quickview__modal-size">
                                        <div class="quickview__modal-size-individual">S</div>
                                        <div class="quickview__modal-size-individual selected">M</div>
                                        <div class="quickview__modal-size-individual">L</div>
                                        <div class="quickview__modal-size-individual">XL</div>
                                        <div class="quickview__modal-size-individual">XXL</div>
                                    </div>
                                </div>
                                <div class="quickview__modal-colour d-flex">
                                    <div class="quickview__modal-colour-wrapper">
                                        <h4>Colour</h4>
                                        <div>
                                            <div class="quickview__modal-colour-individual">
                                                <div class="quickview__modal-size-individual"></div>
                                                <span>Blue</span>
                                            </div>
                                            <div class="quickview__modal-colour-individual">
                                                <div class="quickview__modal-size-individual selected"></div>
                                                <span>Black</span>
                                            </div>
                                            <div class="quickview__modal-colour-individual">
                                                <div class="quickview__modal-size-individual"></div>
                                                <span>Grey</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="quickview__modal-info">
                                        <div>
                                            <p>Sold By: KJK.com.ng</p>
                                        </div>
                                        <div>
                                            <p><span>100+</span> Successful Sales</p>
                                        </div>
                                        <div>
                                            <p><span>Seller Score:</span><span class="quickview__modal-info-seller-score">4.7/5</span></p>

                                        </div>
                                        <div>
                                            <p><span>Delivery:</span> Get it in Lagos by Friday. Allow up to 2
                                                aditional
                                                days for other cities</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="quickview__modal-button-wrapper">
                                    <h4>Quantity</h4>
                                    <div class="quickview__modal-quantity">
                                        <span class="quickview__modal-quantity-reduce">-</span>
                                        <input type="text" value="1" class="quickview__modal-quantity-figure">
                                        <span class="quickview__modal-quantity-increase">+</span>
                                    </div>
                                    <button class="btn btn-primary marketplace__product-quickview-btn">Buy Now</button>
                                    <button class="btn btn-primary quickview__modal-quantity-addtocart">Add to Cart</button>
                                </div>
                                <div class="quickview__modal-share">
                                    <span>Share this product</span>
                                    <a href="#">
                                        <svg class="icon icon-whatsapp">
                                            <use xlink:href="#icon-whatsapp"></use>
                                        </svg>
                                    </a>
                                    <a href="#">
                                        <svg class="icon icon-message">
                                            <use xlink:href="#icon-message"></use>
                                        </svg>
                                    </a>
                                    <a href="#">
                                        <svg class="icon icon-link-share">
                                            <use xlink:href="#icon-link-share"></use>
                                        </svg>
                                    </a>
                                    <div class="quickview__modal-save">
                                        <a href="#">Save</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="quickview__modal-viewful text-center">
                        <a href="product-page.html" class="btn btn-primary marketplace__product-quickview-btn">View
                            full product
                            details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ asset('themes/' ~  current_theme()  ~ '/js/jquery.min.js') }}"></script>
    <script src="{{ asset('themes/' ~  current_theme()  ~ '/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('themes/' ~  current_theme()  ~ '/js/tether.min.js') }}"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="{{ asset('themes/' ~  current_theme()  ~ '/js/slick.min.js') }}"></script>
    <script src="{{ asset('themes/' ~  current_theme()  ~ '/js/main.js') }}"></script>
    <script src="{{ asset('themes/' ~  current_theme()  ~ '/js/jquery.fancybox.js') }}"></script>


    <script>
        $(document).ready(function () {

            $(".preview a").on("click", function () {
                $(".selected").removeClass("selected");
                $(this).addClass("selected");
                var picture = $(this).data();

                event.preventDefault(); //prevents page from reloading every time you click a thumbnail


                $(".full img").fadeOut(100, function () {
                    $(".full img").attr("src", picture.full);
                    $(".full").attr("href", picture.full);
                    $(".full").attr("title", picture.title);

                }).fadeIn();


            }); // end on click

            $(".full").fancybox({
                helpers: {
                    title: {
                        type: 'inside'
                    }
                },
                closeBtn: true,
            });

            $(document).ready(function(){
               $('.marketplace__product-quickview-btn').on('click', function(){
                 //alert($(this).data('id'));
               })
            });
        }); //end doc ready
    </script>
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-36251023-1']);
        _gaq.push(['_setDomainName', 'jqueryscript.net']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') +
                '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();
    </script>

</body>

</html>
